body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(255, 229, 204);
}

.title {
    text-align: center; 
    margin-bottom: 50px;
}

div img {
    display: block;
    margin: auto;
}

.description {
    font-size: 20px;
    font-style:italic;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.container {
    text-align: center;
    
}

.links li {
    list-style-type: none;
    display: inline;
    padding: 10px;
}

.final-p {
    margin-top: 50px;
    text-align: center;
}

