body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(255, 229, 204);
}

.title {
    text-align: center; 
    margin-bottom: 50px;
}

div img {
    display: block;
    margin: auto;
}

.description {
    font-size: 20px;
    font-style:italic;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.container {
    text-align: center;
    
}

.links li {
    list-style-type: none;
    display: inline;
    padding: 10px;
}

.final-p {
    margin-top: 50px;
    text-align: center;
    font-style: oblique;
    font-size: 20px;
}

.recipes-title {
    text-align: center;
    text-decoration:underline;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.recipes-img {
    display: block;
    margin: auto;
}




.recipes-desc {
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}




.recipes-ingredients, .recipes-steps {
    text-align: center;
    
}




.recipes-ingredients ul, .recipes-steps ol {
    list-style-type: none;
    width: 50%;
    margin: 0 auto;
    text-align: justify;
}




.footer {
    text-align: center;
}

.recipes-steps ol {
    list-style-type: decimali;
}



